
#login {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #login-form {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    /* max-width: 600px; */
    align-items: center;
    justify-content: center;
    row-gap: 18px;
  }
  #user1{
    color: brown;

  }
  #pass1{
    color: brown;
  }
  #login-form > input {
    width: 280px;
    height: 28px;
  }
  h1 {
    text-align: center;
    font-size: 38px;
  }
  button {
    padding: 0.8rem 3rem;
  }
  .pno{
    margin-top: 12px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 18px; 
  }
  .del-btn {
    background-color: red;
    color: white;
  }
  #customer-List {
    display: none;
  }
  
  #customer-List {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }
  #btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    font-size: 18px;
  }
  #btn > input,
  select {
    height: 38px;
  }
  #searchBar {
    height: 38px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 18px;
  }
  
  .table {
    width: 95%;
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
    margin-inline: auto;
  }
  
  td {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
  }
  
  th {
    text-align: start;
    border: 1px solid black;
    padding: 9px;
    text-align: center;
  }
  #addCustomer-form {
    display: none;
  }
  #editCustomer-form {
    display: none;
  }
  
  #addCustomer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 22px;
  }
  #addCustomer-form > div {
    display: flex;
    row-gap: 22px;
    column-gap: 38px;
    font-size: 18px;
    margin-right: 18px;
  }
  
  #addCustomer-form > div > div > input {
    padding: 12px 12px;
    margin-left: 18px;
    display: flex;
    row-gap: 18px;
  }
  
  /*  */
  
  #editCustomer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 18px;
  }
  #editCustomer-form > div {
    display: flex;
    row-gap: 18px;
    column-gap: 28px;
    font-size: 22px;
    margin-right: 22px;
  }
  
  #editCustomer-form > div > div > input {
    padding: 12px 12px;
    margin-left: 18px;
    display: flex;
    row-gap: 18px;
  }