body, html {
    margin: 0;
    padding: 0;
}

/* Centering the login page vertically and horizontally */
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styling the login form */
#loginForm {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Styling the form inputs */
input[type="text"],
input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Styling the login button */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Styling the login button on hover */
button[type="submit"]:hover {
    background-color: #0056b3;
}